In [64]:
import pandas as pd

jumia_df = pd.read_csv('jumia.csv')
jumia_df.head()

#rename the columns
jumia_df.columns = ['HT_name','current_price','old_price','percent_discount','Reviews_no','Ratings']
jumia_df.head()

jumia_df.head()
#replace the one column
jumia_df = jumia_df.rename(columns={'HT_name': 'Name'})
jumia_df.head()

,Name,current_price,old_price,percent_discount,Reviews_no,Ratings
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,"KSh 2,697","KSh 3,236",17%,(194),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,"KSh 5,281","KSh 6,607",20%,(79),3.8 out of 5
2,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,"KSh 3,034","KSh 3,641",17%,(56),3.8 out of 5
3,Vitron V635 3.1CH Multimedia Speaker System - ...,"KSh 5,169","KSh 6,203",17%,(481),4.1 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...","KSh 2,921","KSh 3,505",17%,(150),3.9 out of 5

In [65]:
jumia_df['current_price'] = jumia_df['current_price'].str.replace('KSh', '').str.replace(',', '').astype(float)
jumia_df.head()

,Name,current_price,old_price,percent_discount,Reviews_no,Ratings
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697.0,"KSh 3,236",17%,(194),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281.0,"KSh 6,607",20%,(79),3.8 out of 5
2,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034.0,"KSh 3,641",17%,(56),3.8 out of 5
3,Vitron V635 3.1CH Multimedia Speaker System - ...,5169.0,"KSh 6,203",17%,(481),4.1 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921.0,"KSh 3,505",17%,(150),3.9 out of 5

In [66]:
jumia_df['old_price'] =jumia_df['old_price'].str.replace('KSh', '').str.replace(',','').astype(float)
jumia_df.head()

,Name,current_price,old_price,percent_discount,Reviews_no,Ratings
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697.0,3236.0,17%,(194),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281.0,6607.0,20%,(79),3.8 out of 5
2,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034.0,3641.0,17%,(56),3.8 out of 5
3,Vitron V635 3.1CH Multimedia Speaker System - ...,5169.0,6203.0,17%,(481),4.1 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921.0,3505.0,17%,(150),3.9 out of 5

In [67]:
jumia_df ['percent_discount'] = jumia_df['percent_discount'].str.replace('%','').astype(float)
jumia_df.head()

,Name,current_price,old_price,percent_discount,Reviews_no,Ratings
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697.0,3236.0,17.0,(194),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281.0,6607.0,20.0,(79),3.8 out of 5
2,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034.0,3641.0,17.0,(56),3.8 out of 5
3,Vitron V635 3.1CH Multimedia Speaker System - ...,5169.0,6203.0,17.0,(481),4.1 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921.0,3505.0,17.0,(150),3.9 out of 5

In [68]:
jumia_df['Ratings'] = jumia_df['Ratings'].str.replace('out of 5','')

jumia_df.head

<bound method NDFrame.head of                                                   Name  current_price  \
0    Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...         2697.0
1    Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...         5281.0
2    WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...         3034.0
3    Vitron V635 3.1CH Multimedia Speaker System - ...         5169.0
4    Amtec AM-109 Woofer System, Bluetooth,USB Oran...         2921.0
..                                                 ...            ...
115       Vitron V646 3.1 Subwoofer strong base System         5999.0
116  Nobel 5.1 CH Multimedia Speaker BT/USB/SD/FM -...        13564.0
117    Nobel Powerful Big Hometheatre System Fm/usb/bt        12899.0
118  Vision Plus Sound Bar with Bluetooth Connectiv...        11495.0
119  Nobel 22000W 5.1CH BASS Home Theatre Sounds/BT...        19000.0

     old_price  percent_discount Reviews_no Ratings
0       3236.0              17.0      (194)    3.8
1       6607.0              20.0       (79)    3.8
2       3641.0              17.0       (56)    3.8
3       6203.0              17.0      (481)    4.1
4       3505.0              17.0      (150)    3.9
..         ...               ...        ...     ...
115     7000.0              14.0        NaN     NaN
116    19999.0              32.0       (14)    4.1
117    17000.0              24.0        NaN     NaN
118        NaN               NaN        NaN     NaN
119    24500.0              22.0        NaN     NaN

[120 rows x 6 columns]>

In [81]:


jumia_df.head()

,Name,current_price,old_price,percent_discount,Reviews_no,Ratings
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697.0,3236.0,17.0,(194),3.8
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281.0,6607.0,20.0,(79),3.8
2,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034.0,3641.0,17.0,(56),3.8
3,Vitron V635 3.1CH Multimedia Speaker System - ...,5169.0,6203.0,17.0,(481),4.1
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921.0,3505.0,17.0,(150),3.9

In [ ]:
duplicate_rows = jumia_df[jumia_df.duplicated()]
print("Duplicate Rows except first occurrence:")
print(duplicate_rows)
jumia_df.drop_duplicates(inplace=True)

Duplicate Rows except first occurrence:
Empty DataFrame
Columns: [Name, current_price, old_price, percent_discount, Reviews_no, Ratings]
Index: []

In [ ]:
null_values = jumia_df.isnull()
print("Null values in the DataFrame:")
print(null_values)

Null values in the DataFrame:
      Name  current_price  old_price  percent_discount  Reviews_no  Ratings
0    False          False      False             False       False    False
1    False          False      False             False       False    False
2    False          False      False             False       False    False
3    False          False      False             False       False    False
4    False          False      False             False       False    False
..     ...            ...        ...               ...         ...      ...
115  False          False      False             False        True     True
116  False          False      False             False       False    False
117  False          False      False             False        True     True
118  False          False       True              True        True     True
119  False          False      False             False        True     True

[120 rows x 6 columns]

In [84]:
#connect to dabase using environmental variables
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()
#load the environment variables
name = os.getenv('DB_NAME')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT') 
user = os.getenv('DB_USER')

#connect to the database
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{name}')

ModuleNotFoundError: No module named 'dotenv'

In [82]:
# Save the DataFrame to PostgreSQL database
try:
    jumia_df.to_sql('jumia_products', engine, if_exists='replace', index=False)
    print("Data successfully saved to database")
except Exception as e:
    print(f"Error saving to database: {e}")

Error saving to database: name 'engine' is not defined

In [86]:
%pip install python-dotenv
from dotenv import load_dotenv
load_dotenv()
print("Success!")  # Should print without errors

Collecting python-dotenv
  Using cached python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Using cached python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.0
Note: you may need to restart the kernel to use updated packages.
Success!

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [87]:
from dotenv import load_dotenv
load_dotenv()
print("Success!")

Success!

In [91]:
#connect to dabase using environmental variables
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()
#load the environment variables
name = os.getenv('DB_NAME')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT') 
user = os.getenv('DB_USER')

#connect to the database
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{name}')

jumia_df.to_sql('jumia_products', engine, if_exists='replace', index=False)
# Save the DataFrame to PostgreSQL database

120